<div class="page page-lock" ng-controller="authCtrl">

    <div class="lock-centered clearfix">
        <div class="lock-container">
            <!-- <div ui-time class="lock-time"></div> -->
            
            <div class="profile"><img src="magic/client/images/g1.jpg" alt=""></div>
            
            <form class="lock-form">
                <p class="name">{{main.name}}</p>
                <input type="password" placeholder="Password..." class="form-control">
                <a href="" type="submit"
                        class="btn-icon btn-icon-round btn-icon-lg btn-success btn-submit"
                        ng-click="unlock()">
                        <span class="ti-unlock"></span>
                </a>
            </form>

        </div>
    </div>
</div>