<div class="page" ng-controller="EChartsCtrl" >
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Radar</div>
                <div class="panel-body">
                    <div data-echarts data-options="radar1.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Filled Radar</div>
                <div class="panel-body">
                    <div data-echarts data-options="radar2.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Gauge</div>
                <div class="panel-body">
                    <div data-echarts data-options="gauge1.options" style="height: 350px;"></div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Chord</div>
                <div class="panel-body">
                    <div data-echarts data-options="chord1.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">Basic Funnel</div>
                <div class="panel-body">
                    <div data-echarts data-options="funnel1.options" style="height: 350px;"></div>
                </div>
            </div>

        </div>
    </div>

</div>