<header class="top-header clearfix" ng-controller="HeaderCtrl">
    <!-- Logo -->
    <div class="logo"
         ng-class="{ 'bg-dark': ['11','31'].indexOf(main.skin) >= 0,
                     'bg-white': main.skin === '21',
                     'bg-primary': ['12','22','32'].indexOf(main.skin) >= 0,
                     'bg-success': ['13','23','33'].indexOf(main.skin) >= 0,
                     'bg-info-alt': ['14','24','34'].indexOf(main.skin) >= 0,
                     'bg-warning': ['15','25','35'].indexOf(main.skin) >= 0,
                     'bg-danger': ['16','26','36'].indexOf(main.skin) >= 0,
                    }">
        <a href="#/" >
            <div class="logo-text" 
                style="background-image: url('img/logo.png');
                       background-size: 100% 100%;
                       width: 150px;
                        height: 40px;
                        margin: 0 auto;
                        margin-top: 5px;">
            </div>
        </a>
    </div>

    <!-- needs to be put after logo to make it work -->
    <div class="menu-button" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             ><i class="ti-menu"></i></a>
            </li>
            <li class="dropdown hidden-xs" uib-dropdown is-open="status.isopenSettings">
                <a href="javascript:;"  uib-dropdown-toggle ng-disabled="disabled"><i class="ti-settings"></i></a>
                <div style="width: 320px;" class="dropdown-menu with-arrow panel panel-default admin-options dropdown-menu-scaleIn" uib-dropdown-menu ui-not-close-on-click>
                    <div class="panel-heading"><span data-translate="ADMIN_OPTIONS"></span></div>
                    <ul class="list-group admin-option-settings form-validation">
                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="">First Name</label> 
                                <input type="text" class="form-control" placeholder="" required 
                                    data-ng-minlength=1 
                                    ng-model="admin.firstname" >
                                <span class="help-block {{showErrorBlock('firstname', 'hidden')}}">
                                    <strong ng-repeat="error in errors.firstname">{{error}}</strong>
                                </span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="">Last Name</label> 
                                <input type="text" class="form-control" placeholder="" required 
                                    data-ng-minlength=1 
                                    ng-model="admin.lastname" >
                                <span class="help-block {{showErrorBlock('lastname', 'hidden')}}">
                                    <strong ng-repeat="error in errors.lastname">{{error}}</strong>
                                </span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="">E-Mail</label> 
                                <input type="email" class="form-control" placeholder="" required 
                                    data-ng-minlength=1 
                                    ng-model="admin.email" >
                                <span class="help-block {{showErrorBlock('email', 'hidden')}}">
                                    <strong ng-repeat="error in errors.email">{{error}}</strong>
                                </span>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="form-group">
                                <label for="">Password</label> 
                                    <input type="text"
                                        placeholder=""
                                        class="form-control"
                                        required
                                        data-ng-minlength=1
                                        ng-model="admin.password" >
                                <span class="help-block {{showErrorBlock('password', 'hidden')}}">
                                  <strong ng-repeat="error in errors.password">{{error}}</strong>
                                </span>
                            </div>

                        </li>

                        <li class="list-group-item">
                            
                            <div class="col-sm-2 " style="margin-left: 80px;">
                                <button ng-click="onClearForm()" 
                                        type="button" 
                                        class="btn btn-gap-v btn-danger col-sm-2"
                                        style="min-width: 65px;">
                                     Clear
                                </button>
                            </div>

                            <div class="col-sm-3 " style="margin-left: 25px;">
                                <button ng-click="onUpdateProfile()" 
                                        type="button" 
                                        class="btn btn-w-md btn-gap-v btn-warning col-sm-3 btn-block">
                                     Update Profile
                                </button>
                            </div>

                        </li>
                        
                    </ul>
                </div>
            </li>
            <li class="dropdown" uib-dropdown is-open="status.isopenBell">
                <a href="javascript:void(0)"
                    uib-dropdown-toggle
                    ng-disabled="disabled"
                    ng-click="onNotificationClicked()"
                    style="background-color:">
                        <i class="ti-bell"></i>
                        <span class="label label-danger"
                            style="border-radius:50%;padding:4px 7px;"
                            ng-show="!notification_property.is_clicked && notification_property.new_notification > 0">{{ notification_property.new_notification }}</span>
                </a>
                <div class="dropdown-menu with-arrow panel panel-default dropdown-menu-scaleIn" uib-dropdown-menu>
                    <div class="panel-heading">
                        You have <strong>{{ notification_property.new_notification }}</strong> notifications.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"
                            ng-repeat="notification in $notifications"
                            style="background-color:#EFF4F8;"
                            ng-if="notification.is_viewed == 0">
                            <a href="javascript:void(0)" class="media" ng-click="viewNotification(notification)">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-{{ notification.questionnaire.color }}"><i class="ti-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">
                                        <strong>{{ notification.applicant.firstname }} {{ notification.applicant.lastname }}</strong> has completed <strong>{{ notification.questionnaire.name }}</strong> Test
                                    </span>
                                    <span class="text-muted block">{{ notification.created_at }}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul> 

        <ul class="nav-right pull-right list-unstyled">
            
            <li class="dropdown text-normal nav-profile" uib-dropdown is-open="status.isopenProfile">
                <a href="javascript:;" uib-dropdown-toggle ng-disabled="disabled">
                    <!-- <img src="magic/client/images/g1.jpg" alt="" class="img-circle img30_30"> -->
                    <span class="hidden-xs">
                        <span class="ti-widget-alt"></span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right dropdown-menu-scaleIn" uib-dropdown-menu>
                    <li>
                        <a href="#/page/profile">
                            <i class="ti-user"></i>
                            <span data-translate="MY_PROFILE"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/app/tasks">
                            <i class="ti-check-box"></i>
                            <span data-translate="MY_TASKS"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/page/lock-screen">
                            <i class="ti-lock"></i>
                            <span data-translate="LOCK"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="ti-export"></i>
                            <span data-translate="LOG_OUT"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</header>

