<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span data-translate="NAVIGATION"></span>
        </li>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#"><i class="ti-user"></i><span data-translate="USERS"></span></a>
            <ul>
                <li>
                    <a href="#/user_management">
                        <i class="ti-angle-right"></i>
                        <span data-translate="USER_MANAGEMENT"></span>
                    </a>
                </li>
                <li>
                    <a href="#/user_groups">
                        <i class="ti-angle-right"></i>
                        <span data-translate="USER_GROUPS"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li><a href="#"> <i class="ti-menu-alt"></i><span data-translate="FIELDS"></span> </a>
            <ul>
                <li>
                    <a href="#/fields">
                        <i class="ti-angle-right"></i>
                        <span data-translate="FIELDS"></span>
                    </a>
                </li>
                <li>
                    <a href="#/field_groups">
                        <i class="ti-angle-right"></i>
                        <span data-translate="FIELD_GROUPS"></span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- <li><a href="#"> <i class="ti-menu-alt"></i><span data-translate="QUESTIONAIRE"></span> </a>
            <ul>
                <li>
                    <a href="#/questionaire_groups">
                        <i class="ti-angle-right"></i>
                        <span data-translate="QUESTIONAIRE_GROUPS"></span>
                    </a>
                </li>
                <li>
                    <a href="#/question_levels">
                        <i class="ti-angle-right"></i>
                        <span data-translate="QUESTION_LEVELS"></span>
                    </a>
                </li>
                <li>
                    <a href="#/articles">
                        <i class="ti-angle-right"></i>
                        <span data-translate="ARTICLES"></span>
                    </a>
                </li>
                <li>
                    <a href="#/questions">
                        <i class="ti-angle-right"></i>
                        <span data-translate="QUESTIONS"></span>
                    </a>
                </li>

            </ul>
        </li> -->
        <li><a href="#"> <i class="ti-menu-alt"></i><span data-translate="QUESTIONAIRE"></span> </a>
            <ul>
                <li>
                    <a href="#/questionnaire_types">
                        <i class="ti-angle-right"></i>
                        <span data-translate="QUESTIONNAIRE_TYPES"></span>
                    </a>
                </li>
                <li>
                    <a href="#/questionnaire_pages">
                        <i class="ti-angle-right"></i>
                        <span data-translate="QUESTIONNAIRE_PAGES"></span>
                    </a>
                </li>
            </ul>
        </li>

        <li><a href="#/grades"> <i class="ti-menu-alt"></i><span data-translate="GRADES"></span> </a>
        </li>

     <!--    <li>
            <a href="#"><i class="ti-files"></i><span data-translate="JOBS"></span></a>
            <ul>
                <li>
                    <a href="#/jobs">
                        <i class="ti-angle-right"></i>
                        <span data-translate="MANAGE_JOBS"></span>
                    </a>
                </li>
                <li>
                    <a href="#/view_holler_history">
                        <i class="ti-angle-right"></i>
                        <span data-translate="VIEW_HOLLER_HISTORY"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/resume"><i class="ti-view-list"></i><span data-translate="RESUME"></span></a>
        </li>
        <li>
            <a href="#"><i class="ti-pencil"></i><span data-translate="BILLING"></span></a>
            <ul>
                <li>
                    <a href="#/billing">
                        <i class="ti-angle-right"></i>
                        <span data-translate="MANAGE_BILLING"></span>
                    </a>
                </li>
                <li>
                    <a href="#/coupon">
                        <i class="ti-angle-right"></i>
                        <span data-translate="MANAGE_COUPON"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/products"><i class="ti-bar-chart"></i><span data-translate="PRODUCTS"></span></a>
        </li>
        <li>
            <a href="#"><i class="ti-bar-chart"></i><span data-translate="INTEGRATIONS"></span></a>
            <ul>
                <li>
                    <a href="#/google_analytics">
                        <i class="ti-angle-right"></i>
                        <span data-translate="GOOGLE_ANALYTICS"></span>
                    </a>
                </li>
            </ul>
        </li> -->
    </ul>
</div>

