<br/>
<!-- <div class="panel panel-default"> -->
    <div class="ui very padded piled segment">
    	<div class="ui header">
			<img src="/img/logo.png" class="ui medium image">
			<div class="content">
				Expanding Possibilities
			</div>
		</div><br/>
		
    	<div class="row">
    		<div class="col-lg-4">
    			<div class="ui vertical fluid steps">
					<div class="{{ ($steps[0].is_active) ? 'active' : '' }} step">
						<i class="user icon"></i>
						<div class="content">
							<div class="title">Personal Information</div>
						</div>
					</div>
					<div ng-repeat="field_group in $field_groups" class="step {{ ($steps[field_group.id].is_active) ? 'active' : '' }}">
						<i class="{{ field_group.icon }} icon"></i>
						<div class="content">
							<div class="title">{{ field_group.name }}</div>
						</div>
					</div>
				</div>

				<div class="ui relaxed divided list">
					<div class="item">
						<h2 class="ui header">
							Did you know?
							<div class="sub header">
								<p>Manage your account settings and set e-mail preferences.</p> <a href="#" class="text-danger">Read more <i class="fa fa-angle-double-right"></i></a>
							</div>
						</h2>
					</div>
					<div class="item">
						<h2 class="ui header">
							Did you know?
							<div class="sub header">
								<p>Manage your account settings and set e-mail preferences.</p> <a href="#" class="text-danger">Read more <i class="fa fa-angle-double-right"></i></a>
							</div>
						</h2>
					</div>
					<div class="item">
						<h2 class="ui header">
							Did you know?
							<div class="sub header">
								<p>Manage your account settings and set e-mail preferences.</p> <a href="#" class="text-danger">Read more <i class="fa fa-angle-double-right"></i></a>
							</div>
						</h2>
					</div>
					<div class="item">
						<h2 class="ui header">
							Did you know?
							<div class="sub header">
								<p>Manage your account settings and set e-mail preferences.</p> <a href="#" class="text-danger">Read more <i class="fa fa-angle-double-right"></i></a>
							</div>
						</h2>
					</div>
				</div>
    		</div>
    		<div class="col-lg-8">
    			<div class="panel panel-default" ng-show="{{ '$steps[0].is_active' }}">
    				<div class="panel-heading"><strong><span class="glyphicon glyphicon-user"></span> Personal Information</strong></div>
    				<div class="panel-body form-validation">

 						<div class="col-sm-12">
							<div class="form-group {{ errors.position_applied ? 'has-error' : '' }}">
	    						<label>Position Applied *</label>

								<ul class="list-unstyled">
	    							<li ng-repeat="questionnaire in $questionnaires">
	    								<input type="radio" name="questionnaire" value="{{ questionnaire.id }}" ng-model="data.position_applied"> {{ questionnaire.name }}
	    							</li>
	    						</ul>

								<span class="help-block {{showErrorBlock('position_applied', 'hidden')}}">
									<strong ng-repeat="error in errors.position_applied">{{error}}</strong>
								</span>
	    					</div>
						</div>

    					<!-- <div class="ui active inverted dimmer">
							<div class="ui text loader">Loading</div>
						</div> -->
						<div class="col-sm-4">
							<div class="form-group {{ errors.firstname ? 'has-error' : '' }}">
	    						<label>Firstname *</label>
								<input type="text" ng-model="data.firstname" class="form-control input-sm">

								<span class="help-block {{showErrorBlock('firstname', 'hidden')}}">
									<strong ng-repeat="error in errors.firstname">{{error}}</strong>
								</span>
	    					</div>
						</div>

						<div class="col-sm-4">
							<div class="form-group {{ errors.lastname ? 'has-error' : '' }}">
								<label>Lastname *</label>
								<input type="text" ng-model="data.lastname" class="form-control input-sm">
								<span class="help-block {{showErrorBlock('lastname', 'hidden')}}">
									<strong ng-repeat="error in errors.lastname">{{error}}</strong>
								</span>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="form-group {{ errors.middlename ? 'has-error' : '' }}">
								<label>Middlename *</label>
								<input type="text" ng-model="data.middlename" class="form-control input-sm">
								<span class="help-block {{showErrorBlock('middlename', 'hidden')}}">
									<strong ng-repeat="error in errors.middlename">{{error}}</strong>
								</span>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="form-group {{ errors.gender ? 'has-error' : '' }}">
								<label>Gender *</label>
								<select class="form-control input-sm" ng-model="data.gender">
									<option value="">Gender</option>
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
								<span class="help-block {{showErrorBlock('gender', 'hidden')}}">
									<strong ng-repeat="error in errors.gender">{{error}}</strong>
								</span>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="form-group {{ errors.civil_status ? 'has-error' : '' }}">
								<label>Civil Status *</label>
								<select class="form-control input-sm" ng-model="data.civil_status">
									<option value="">Civil Status</option>
									<option value="single">Single</option>
									<option value="married">Married</option>
									<option value="widowed">Widowed</option>
									<option value="separated">Separated</option>
								</select>
								<span class="help-block {{showErrorBlock('civil_status', 'hidden')}}">
									<strong ng-repeat="error in errors.civil_status">{{error}}</strong>
								</span>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="form-group {{ errors.date_of_birth ? 'has-error' : '' }}">
								<label>Date of Birth *</label>
								<div class="input-group ui-datepicker">
				                    <input type="text" 
				                           class="form-control input-sm"
				                           uib-datepicker-popup="{{format}}"
				                           ng-model="data.date_of_birth"
				                           is-open="popup1.opened"
				                           min-date="minDate"
				                           max-date="maxDate"
				                           datepicker-options="dateOptions"
				                           ng-required="true"
				                           close-text="Close"
				                           alt-input-formats="altInputFormats" />
				                    <span class="input-group-addon" ng-click="open1()"><i class="ti-calendar"></i></span>
				                </div>
				                <span class="help-block {{showErrorBlock('date_of_birth', 'hidden')}}">
									<strong ng-repeat="error in errors.date_of_birth">{{error}}</strong>
								</span>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group {{ errors.birth_place ? 'has-error' : '' }}">
								<label>Birth Place *</label>
								<input type="text" ng-model="data.birth_place" class="form-control input-sm">
								<span class="help-block {{showErrorBlock('birth_place', 'hidden')}}">
									<strong ng-repeat="error in errors.birth_place">{{error}}</strong>
								</span>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="form-group {{ errors.contact_number ? 'has-error' : '' }}">
								<label>Contact No. *</label>
								<input type="text" ng-model="data.contact_number" class="form-control input-sm">
								<span class="help-block {{showErrorBlock('contact_number', 'hidden')}}">
									<strong ng-repeat="error in errors.contact_number">{{error}}</strong>
								</span>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group {{ errors.present_address ? 'has-error' : '' }}">
								<label>Present Address *</label>
								<input type="text" class="form-control input-sm" ng-model="data.present_address">
								<span class="help-block {{showErrorBlock('present_address', 'hidden')}}">
									<strong ng-repeat="error in errors.present_address">{{error}}</strong>
								</span>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group {{ errors.permanent_address ? 'has-error' : '' }}">
								<label>Permanent Address *</label>
								<input type="text" class="form-control input-sm" ng-model="data.permanent_address">
								<span class="help-block {{showErrorBlock('permanent_address', 'hidden')}}">
									<strong ng-repeat="error in errors.permanent_address">{{error}}</strong>
								</span>
							</div>
						</div>
						
						<div class="col-sm-12">
							<div class="form-group {{ errors.email ? 'has-error' : '' }}">
								<label>Active Email *</label>
								<input type="email" class="form-control input-sm" ng-model="data.email">
								<span class="help-block {{showErrorBlock('email', 'hidden')}}">
									<strong ng-repeat="error in errors.email">{{error}}</strong>
								</span>
							</div>
						</div>

						<div class="col-sm-12"><br/>
							<button ng-click="onSavePersonalInfo()" 
			            			type="button" 
			            			class="btn btn-w-md btn-gap-v btn-success">
			            		 	Next
			            	</button>
						</div>
						
	    			</div>
    			</div>
    			<!-- <div class="panel panel-default" ng-repeat="field_group in $field_groups" ng-show="{{ '$steps[field_group.id].is_active' }}"> -->
    			<div class="panel panel-default" ng-repeat="field_group in $field_groups" ng-show="{{ '$steps[field_group.id].is_active' }}">
    				<div class="panel-heading"><strong><i class="{{ field_group.icon }}"></i> {{ field_group.name }}</strong></div>
    				<div class="panel-body form-validation">
    					<div class="col-sm-12" ng-repeat="field in field_group.fields">
	    					<div class="form-group {{ errors[field.model_name] ? 'has-error' : '' }}">
	    						<label>{{ field.label }}</label><br/>
	    						<small>{{ field.placeholder }}</small>

	    						<!-- If field is textbox -->
	    						<input type="text" class="form-control input-sm" ng-model="field_group.fields[field.model_name]['value']" ng-if="field.type_field == 'textbox'">

	    						<!-- If field is radio button -->
	    						<ul class="list-unstyled" ng-if="field.type_field == 'radio-button'">
	    							<li ng-repeat="choice in field.choices">
	    								<input type="radio" value="{{ choice[0].value }}" ng-model="field_group.fields[field.model_name]['value']"> {{ choice[1].value }}
	    							</li>
	    						</ul>
	    						<span class="help-block {{showErrorBlock(field.model_name, 'hidden')}}">
									<strong ng-repeat="error in errors[field.model_name]">{{error}}</strong>
								</span>
	    					</div>
    					</div>

    					<div class="col-sm-6"><br/>
							<button ng-click="current_step(field_group.id)" 
			            			type="button" 
			            			class="btn btn-w-md btn-gap-v btn-success" >
			            		 	Back
			            	</button>
						</div>

    					<div class="col-sm-6"><br/>
							<button ng-click="onCustomFieldSubmit(field_group.id)" 
			            			type="button" 
			            			class="btn btn-w-md btn-gap-v btn-success" >
			            		 	Next
			            	</button>
						</div>
	    			</div>
    			</div>
    		</div>
    	</div>
    </div>
<!-- </div> -->