<div class="page col-sm-12">
<!-- <div class="panel panel-default"> -->
	
    <div class="ui very padded segment">
    	<div class="ui header">
			<img src="/img/logo.png" class="ui medium image">
			<div class="content">
				Expanding Possibilities
			</div>
			<ul class="list-inline pull-right">
					<li>
						<button type="button"
								class="btn btn-default btn-sm {{ (page_number === 0) ? 'disabled' : '' }}"
								ng-click="turnPageTo(page_number - 1)"><i class="fa fa-arrow-left"></i></button>
					</li>
					<li>{{ page_number + 1 }}/{{ $questionnaire_page.length }}</li>
					<li>
						<button type="button"
								class="btn btn-default btn-sm {{ (page_number === $questionnaire_page.length - 1) ? 'disabled' : '' }}"
								ng-click="turnPageTo(page_number + 1)"><i class="fa fa-arrow-right"></i></button>
					</li>
				</ul>
		</div><br/>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group"
				ng-repeat="(indx, item) in $questionnaire_page[page_number].page_items track by $index">
					<!-- MEDIA -->
		            <div class="text-{{ item.attributes.alignment }}" ng-if="item.field_type == 'media'">
		                <iframe width="500"
		                        height="300"
		                        ng-src="{{ trustResourceURL('https://www.youtube.com/embed/' + item.attributes.value) }}"
		                        frameborder="0"
		                        allowfullscreen></iframe>
		            </div>
		            <!-- END MEDIA -->

		            <!-- HEADER TEXT -->
		            <h1 ng-if="item.field_type == 'heading' && item.attributes.size == 1"
		                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
		                    {{ item.attributes.value }}
		            </h1>
		            <h2 ng-if="item.field_type == 'heading' && item.attributes.size == 2"
		                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
		                    {{ item.attributes.value }}
		            </h2>
		            <h3 ng-if="item.field_type == 'heading' && item.attributes.size == 3"
		                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
		                    {{ item.attributes.value }}
		            </h3>
		            <h4 ng-if="item.field_type == 'heading' && item.attributes.size == 4"
		                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
		                    {{ item.attributes.value }}
		            </h4>
		            <h5 ng-if="item.field_type == 'heading' && item.attributes.size == 5"
		                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
		                    {{ item.attributes.value }}
		            </h5>

		            <!-- TEXT -->
		            <p ng-if="item.field_type == 'text'"
		                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}"
		                style="font-size:{{ item.attributes.size }};">
		                    {{ item.attributes.value }}
		            </p>
		                    
		            <section ng-if="item.field_type == 'question'">
		                <p class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}"
		                    style="font-size:{{ item.attributes.size }};">
		                    {{ item.attributes.value }}
		                </p>
		                <ul style="list-style-type:none;">
		                    <li class="input-group input-group-sm"
		                        ng-if="item.attributes.choices.choice_type == 'FILL IN THE BLANK'"
		                        style="margin-bottom:2px;">
		                        <span class="input-group-addon">Answer</span>
		                        <input type="text" ng-model="item.attributes['applicant_answer']" class="form-control">
		                    </li>
		                    <li ng-if="item.attributes.choices.choice_type == 'SINGLE SELECTION'"
		                        ng-repeat="(key, choice) in item.attributes.choices.choices_attributes"
		                        style="font-size:{{ item.attributes.size }};padding:3px;margin-bottom:2px;">
		                        <input type="radio" 
		                        name="{{$questionnaire_page[page_number].id +'-'+indx+'-'+choice.choice_name}}" 
		                        value="{{key}}" 
		                        ng-model="item.attributes['applicant_answer']"> {{ choice.choice_text }}
		                    </li>
		                    <li ng-if="item.attributes.choices.choice_type == 'MULTIPLE SELECTION'"
		                        ng-repeat="(key, choice) in item.attributes.choices.choices_attributes"
		                        style="font-size:{{ item.attributes.size }};padding:3px;margin-bottom:2px;">
		                        <input type="checkbox"
		                        	checklist-value="key" 
		                        	checklist-model="item.attributes['applicant_answer']"> {{ choice.choice_text }}
		                    </li>
		                </ul>
		            </section>
				</div>
			</div>
		</div>

		<button ng-show="(page_number === $questionnaire_page.length - 1)" type="button" class="btn btn-default"
				ng-click="onSubmitForm()"> Submit </button>
    </div>
<!-- </div> -->
</div>