<!doctype html>
<!--[if lt IE 8]>         <html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Web Application</title>
        <meta name="description" content="Responsive Admin Web App with Bootstrap and AngularJS">
        <meta name="keywords" content="angularjs admin, admin templates, admin themes, bootstrap admin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Needs images, font... therefore can not be part of main.css -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,600,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="fonts/themify-icons/themify-icons.min.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <!-- end Needs images -->
            
            <!-- build:css({.tmp,client}) styles/main.css -->
            <link rel="stylesheet" href="styles/bootstrap.css">
            <link rel="stylesheet" href="styles/ui.css">
            <link rel="stylesheet" href="styles/main.css">
            <!-- endbuild -->

    </head>
    <body data-ng-app="app"
          id="app"
          class="app"
          data-custom-page 
          data-off-canvas-nav
          data-ng-controller="AppCtrl"
          data-ng-class=" { 'layout-boxed': main.layout === 'boxed', 
                            'nav-collapsed-min': main.isMenuCollapsed
          } ">
        <!--[if lt IE 9]>
            <div class="lt-ie9-bg">
                <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
                <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->

        <header data-ng-include=" 'app/layout/header.html' "
                 id="header"
                 class="header-container "
                 data-ng-class="{ 'header-fixed': main.fixedHeader,
                                  'bg-white': ['11','12','13','14','15','16','21'].indexOf(main.skin) >= 0,
                                  'bg-dark': main.skin === '31',
                                  'bg-primary': ['22','32'].indexOf(main.skin) >= 0,
                                  'bg-success': ['23','33'].indexOf(main.skin) >= 0,
                                  'bg-info-alt': ['24','34'].indexOf(main.skin) >= 0,
                                  'bg-warning': ['25','35'].indexOf(main.skin) >= 0,
                                  'bg-danger': ['26','36'].indexOf(main.skin) >= 0
                 }"></header>

        <div class="main-container"
             data-ng-class="{ 'app-nav-horizontal': main.menu === 'horizontal' }">
            <aside data-ng-include=" 'app/layout/sidebar.html' "
                   id="nav-container"
                   class="nav-container"  
                   data-ng-class="{ 'nav-fixed': main.fixedSidebar,
                                    'nav-horizontal': main.menu === 'horizontal',
                                    'nav-vertical': main.menu === 'vertical',
                                    'bg-white': ['31','32','33','34','35','36'].indexOf(main.skin) >= 0,
                                    'bg-dark': ['31','32','33','34','35','36'].indexOf(main.skin) < 0
                   }">
            </aside>

            <div id="content" class="content-container">
                <section data-ng-view
                         class="view-container {{main.pageTransition.class}}"></section>
            </div>

            <footer data-ng-include=" 'app/layout/footer.html' "
                    id="footer"
                    class="app-footer">
            </footer>
        </div>


        <script src="http://maps.google.com/maps/api/js"></script>
        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/ui.js -->
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/toastr/toastr.min.js"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>

        <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>

        <script src="bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
        <script src="bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
        <script src="bower_components/textAngular/dist/textAngular.min.js"></script>

        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>

        <script src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

        <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
        <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
        <script src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>
        <script src="bower_components/bootstrap-file-input/bootstrap.file-input.js"></script>
        <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>

        <script src="vendors/echarts.js"></script>         
        <script src="vendors/ngecharts.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,client}) scripts/app.js -->
        <!-- injector:js -->
        <script src="app/app.module.js"></script>
        <script src="app/app/calendar/calendar.module.js"></script>
        <script src="app/app/task/task.module.js"></script>
        <script src="app/chart/chart.module.js"></script>
        <script src="app/form/form.module.js"></script>
        <script src="app/form/formValidation.module.js"></script>
        <script src="app/layout/nav.module.js"></script>
        <script src="app/page/page.module.js"></script>
        <script src="app/table/table.module.js"></script>
        <script src="app/ui/ui.module.js"></script>
        <script src="app/app/calendar/calendar.controller.js"></script>
        <script src="app/app/task/task.controller.js"></script>
        <script src="app/app/task/task.directive.js"></script>
        <script src="app/app/task/task.service.js"></script>
        <script src="app/chart/echarts.controller.js"></script>
        <script src="app/core/app.config.js"></script>
        <script src="app/core/app.controller.js"></script>
        <script src="app/core/config.route.js"></script>
        <script src="app/core/i18n.js"></script>
        <script src="app/dashboard/dashboard.controller.js"></script>
        <script src="app/form/form.controller.js"></script>
        <script src="app/form/form.directive.js"></script>
        <script src="app/form/formValidation.controller.js"></script>
        <script src="app/form/wizard.controller.js"></script>
        <script src="app/layout/nav.directive.js"></script>
        <script src="app/page/page.controller.js"></script>
        <script src="app/page/page.directive.js"></script>
        <script src="app/table/table.controller.js"></script>
        <script src="app/ui/ui.controller.js"></script>
        <script src="app/ui/ui.directive.js"></script>
        <script src="app/ui/ui.service.js"></script>
        <!-- endinjector -->
        <!-- endbuild -->
    </body>
</html>
