<div class="page col-sm-6">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ARTICLES </strong></div>
        <div class="articles panel-body form-validation">

            <div class="form-group col-sm-6">
                <span class="ui-select" style="height: 34px; width: 100%;">
                    <select ng-model="data.question_level_id" 
                            id="select-picker-question-level-id">
                        <option value="">Select Question Level</option>
                        <option ng-repeat="question_level in $question_levels" 
                                value="{{question_level.id}}"
                                ng-selected="question_level.id == data.question_level_id" >{{question_level.name}}</option>
                    </select>

                    <span class="help-block {{showErrorBlock('question_level_id', 'hidden')}}"> 
                        <strong ng-repeat="error in errors.question_level_id">{{error}}</strong>
                    </span>
                </span>
            </div>

            <div class="form-group col-sm-12">
                <label for="">Name</label> 
                <input type="text" class="form-control" required data-ng-minlength=1 ng-model="data.name" >
                <span class="help-block {{showErrorBlock('name', 'hidden')}}">
					<strong ng-repeat="error in errors.name">{{error}}</strong>
				</span>
            </div>
			<hr class="dotted" />

            <div class="form-group col-sm-12">
                <label for="">Video Url</label> 
                <input type="text" class="form-control" data-ng-minlength=1 ng-model="data.video_url" >
                <span class="help-block {{showErrorBlock('video_url', 'hidden')}}">
                    <strong ng-repeat="error in errors.video_url">{{error}}</strong>
                </span>
            </div>

            <hr class="dotted" />

            <div class="form-group col-sm-12">
                <label for="">Description</label>

                 <div text-angular ng-model="data.description" class="ui-editor" tabindex="6"></div>

                <span class="help-block {{showErrorBlock('description', 'hidden')}}">
					<strong ng-repeat="error in errors.description">{{error}}</strong>
				</span>
            </div>

            <hr class="dotted" />
            <div class="form-group">
                <ul class="list-inline">
                    <li>
                        <button ng-click="onSubmitForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-warning margin-left-10 ">
                            {{(updateForm) ? 'UPDATE ARTICLE' : 'ADD NEW ARTICLE'}}
                        </button>
                    </li>
                    <li>
                        <button ng-click="onClearForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-danger">
                            {{(updateForm) ? 'Cancel' : 'Clear'}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </section> 
</div>

<div class="page col-sm-6">
    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilter()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$articles.length}}/{{_articles.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ALL - ARTICLES</strong></div>
        <table class="table has-ellipsis">
            <thead>
                <!-- <tr>
                    <th>Name</th>
                    <th>description</th>
                </tr> -->
            </thead>
            <tbody>

                <tr ng-repeat="article in $articles">
                    <td class="ellipsis"> {{article.name}}</td>
                    <td class="ellipsis"> <i class="{{article.description}}"></i></td>
                    <td class="text-right" style="width: 65px;">
	              		<i ng-click="onUpdate(article)"  class="ti-pencil pull-left"></i>
	              		&nbsp;
	              		<i ng-click="onDelete(article)" class="ti-close pull-right"></i>
	              	</td>
                </tr>
            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_article.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 
</div>

