<div class="page page-dashboard">

    <div class="row">
        <div class="col-lg-6">
            <div class="row text-center">
                <!-- Stats -->
                <div class="col-sm-6 ">
                    <div class="panel mini-box ">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success margin-with-0 pull-left">
                            <span class="ti-stats-up"></span>
                        </span>
                        <div class="box-info margin-with-0 pull-right">
                            <p class="size-h2">36 <!-- <span class="size-h4">%</span> --></p>
                            <p class="text-muted"><span data-translate="VISITS"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="panel mini-box ">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info margin-with-0 pull-left">
                            <i class="ti-user"></i>
                        </span>
                        <div class="box-info margin-with-0 pull-right">
                            <p class="size-h2">22 <!-- <span class="size-h4">%</span> --></p>
                            <p class="text-muted"><span data-translate="NEW_USERS"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box ">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning margin-with-0 pull-left">
                            <i class="ti-money"></i>
                        </span>
                        <div class="box-info margin-with-0 pull-right">
                            <p class="size-h2">37 <span class="size-h4">k</span></p>
                            <p class="text-muted"><span data-translate="PROFIT_PER_MONTH"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box ">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger margin-with-0 pull-left">
                            <i class="ti-shopping-cart"></i>
                        </span>
                        <div class="box-info margin-with-0 pull-right">
                            <p class="size-h2">21 <!-- <span class="size-h4">k</span> --></p>
                            <p class="text-muted"><span data-translate="NEw_SUBSCRIPTIONS"></span></p>
                        </div>
                    </div>
                </div>
                <!-- end stats -->                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div data-echarts data-options="pie1.options" style="height: 250px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>