<div class="page col-sm-6">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> FIELDS</strong></div>
        <div class="fields panel-body form-validation">
            <div class="form-group col-sm-6">
                <span class="ui-select" style="height: 34px; width: 100%;">
                    <select ng-model="data.field_group_id" 
                            id="select-picker-field-group-id">
                        <option value="">Select Field Group</option>
                        <option ng-repeat="field_group in $field_groups" 
                                value="{{field_group.id}}"
                                ng-selected="field_group.id == data.field_group_id" >{{field_group.name}}</option>
                    </select>

                    <span class="help-block {{showErrorBlock('field_group_id', 'hidden')}}"> 
                        <strong ng-repeat="error in errors.field_group_id">{{error}}</strong>
                    </span>
                </span>
            </div>

            <hr class="dotted" />
            <div class="form-group col-sm-12">
                <label for="">Model Name</label> 
                <input type="text" class="form-control"
                    placeholder="" required  readonly="readonly"
                    data-ng-minlength=1 ng-model="data.model_name" >
                <span class="help-block {{showErrorBlock('model_name', 'hidden')}}">
                    <strong ng-repeat="error in errors.model_name">{{error}}</strong>
                </span>
            </div>
            

            <div class="form-group col-sm-12">
                <label for="">Label</label> 
                <input type="text" class="form-control" required data-ng-minlength=1 ng-model="data.label">
                <span class="help-block {{showErrorBlock('label', 'hidden')}}">
					<strong ng-repeat="error in errors.label">{{error}}</strong>
				</span>
            </div>
            <hr class="dotted" />
            <div class="form-group col-sm-12">
                <label for="">Placeholder</label> 
                <input type="text" class="form-control" required data-ng-minlength=1 ng-model="data.placeholder">
                <span class="help-block {{showErrorBlock('placeholder', 'hidden')}}">
                    <strong ng-repeat="error in errors.placeholder">{{error}}</strong>
                </span>
            </div>

            <hr class="dotted" />
            
            <div class="form-group col-sm-6">
                <span class="ui-select" style="height: 34px; width: 100%;">
                    <select ng-model="data.type_field" 
                            id="select-picker-user-group-id">
                        <option value="">Select Type Field</option>
                        <option ng-repeat="option in type_field" 
                                value="{{option.code}}"
                                ng-selected="option.code == data.type_field" >{{option.text}}</option>
                    </select>

                    <span class="help-block {{showErrorBlock('type_field', 'hidden')}}"> 
                        <strong ng-repeat="error in errors.type_field">{{error}}</strong>
                    </span>
                </span>
            </div>

            <div class="form-group col-sm-5 pull-right">
                <label class="ui-checkbox">
                    <input ng-model="data.is_required"  type="checkbox" ><span>Is Required</span>
                </label>
            </div>
            

			<hr class="dotted" />
            
            <div class="form-group col-sm-12">
                <label for="">Choices</label>
                <span class="help-block {{showErrorBlock('choices', 'hidden')}}">
                    <strong ng-repeat="error in errors.choices">{{error}}</strong>
                </span>
                <table class="table table-bordered row no-border-top table-margin-auto">
                        <thead>
                            <tr>
                                <th class="col-sm-1"> </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody id="choices">

                            <table-row key="'choices'" 
                                        on-remove-row="onRemoveRow({key :'choices', index: index})"
                                        index="$index" 
                                        rows="rows" 
                                        length="data.choices.length"
                                        icons="icons"
                                        ng-repeat="rows in data.choices"></table-row>

                        </tbody>
                </table>
                <button class="btn btn-warning pull-right" ng-click="addNewRow('choices')">
                    + Choices
                </button>

            </div>
            <hr class="dotted" />
          
            <div class="form-group col-sm-6">
                <label for="">Status</label>
                <span class="ui-select" style="height: 34px; width: 100%;">
                    <select ng-model="data.status" 
                            id="select-picker-status-id">
                        <option value="">Select Status</option>
                        <option ng-repeat="status in ['Enable', 'Disable']" 
                                value="{{status}}"
                                ng-selected="status == data.status" >{{status}}</option>
                    </select>

                    <span class="help-block {{showErrorBlock('status', 'hidden')}}"> 
                        <strong ng-repeat="error in errors.status">{{error}}</strong>
                    </span>
                </span>
            </div>

            <hr class="dotted" />

            <div class="form-group">
                <ul class="list-inline">
                    <li>
                        <button ng-click="onSubmitForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-warning margin-left-10 ">
                            {{(updateForm) ? 'UPDATE FIELD' : 'ADD NEW FIELD'}}
                        </button>
                    </li>
                    <li>
                        <button ng-click="onClearForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-danger">
                            {{(updateForm) ? 'Cancel' : 'Clear'}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </section> 
</div>

<div class="page col-sm-6">
    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilter()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$fields.length}}/{{_fields.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ALL - CUSTOM FIELDS</strong></div>
        <table class="table has-ellipsis">
            <thead>
                <!-- <tr>
                    <th>Name</th>
                    <th>description</th>
                </tr> -->
            </thead>
            <tbody>

                <tr ng-repeat="field in $fields">
                    <td class="ellipsis"> {{field.label}}</td>
                    <td class="ellipsis"> {{field.type_field}}</td>
                    <td class="ellipsis"> {{status[field.status]}}</td>
                    <td class="text-right" style="width: 65px;">
	              		<i ng-click="onUpdate(field)"  class="ti-pencil pull-left"></i>
	              		&nbsp;
	              		<i ng-click="onDelete(field)" class="ti-close pull-right"></i>
	              	</td>
                </tr>
            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_fields.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 
</div>

