<div class="page col-sm-12">
<!-- <div class="panel panel-default"> -->
    
    <div class="ui very padded segment">

    <ol class="breadcrumb" style="margin-bottom: 5px;">
        <button type="button" class="btn btn-default"
                ng-click="onBackView()"> Back </button>

        <button type="button" class="btn btn-default"
                ng-click="onViewTestAnswers()"> View Test Answers </button>
    </ol>
    
        <div class="ui header">

            <img src="/img/logo.png" class="ui medium image">
            <div class="content">
                Expanding Possibilities
            </div>

        </div><br/>
    
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                   <div class="col-xs-6 text-left">
                        <b>Name : </b>{{applicant.firstname}} {{applicant.middlename}} {{applicant.lastname}}<br>
                        <b>Gender : </b> {{applicant.gender}} <br>
                        <b>E-Mail : </b> {{applicant.email}} <br>
                        <b>Civil Status : </b> {{applicant.civil_status}} <br>
                        <b>Phone No. : </b> {{applicant.contact_number}} <br><br>
                        <b> {{applicant.questionnaire_name }}</b>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Criteria</th>
                                    <th>Score</th>
                                    <th>Passing Score</th>
                                    <th>Number of Items</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="criteria in criterias">
                                    <td>{{toUpperCaseFirstLetter(criteria.key)}}</td>
                                    <td>
                                        <span class="label label-{{ passOrFail(criteria.value, criteria.passing) }}">
                                        {{criteria.value}}
                                        </span>
                                    </td>
                                    <td>{{criteria.passing}}</td>
                                    <td>{{criteria.total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
<!-- </div> -->
</div>