<div class="page page-table">


    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Grades </strong></div>

        <uib-tabset class="ui-tab">
            <uib-tab heading="All" active="true" >
               <table class="table">
                    <thead>
                        <tr>
                            <th>Submission Time</th>
                            <th>First name</th>
                            <th>Middle name</th>
                            <th>Last name</th>
                            <th>Total Points</th>
                            <th>Percent</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="applicant in $applicant_submission">
                            <td>{{applicant['created_at']}}</td>
                            <td>{{applicant['applicants'][0]['firstname']}}</td>
                            <td>{{applicant['applicants'][0]['middlename']}}</td>
                            <td>{{applicant['applicants'][0]['lastname']}}</td>
                            <td><span class="color-{{(isPassedOrFailed(applicant) == 'up') ? 'success' : 'danger'}}">
                                <i class="fa fa-level-{{isPassedOrFailed(applicant)}}"></i></span> {{ applicant['score'] }}</td>
                            <td>{{ applicant['score'] / applicant['total_number_questions'] * 100 }}%</td>
                            <td>
                                <i  ng-click="goToLocation('/results_comparison/' + applicant.id)" class="ti-check-box pull-left"></i>
                                &nbsp;
                                <i ng-click="goToLocation('/grade_results/' + applicant.id)" class="ti-receipt pull-left" style="margin-left: 25px;"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </uib-tab>

            <uib-tab heading="Passed" active="false" >
               <table class="table">
                    <thead>
                        <tr>
                            <th>Submission Time</th>
                            <th>First name</th>
                            <th>Middle name</th>
                            <th>Last name</th>
                            <th>Total Points</th>
                            <th>Percent</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="applicant in passed">
                            <td>{{applicant['created_at']}}</td>
                            <td>{{applicant['applicants'][0]['firstname']}}</td>
                            <td>{{applicant['applicants'][0]['middlename']}}</td>
                            <td>{{applicant['applicants'][0]['lastname']}}</td>
                            <td><span class="color-{{(isPassedOrFailed(applicant) == 'up') ? 'success' : 'danger'}}">
                                <i class="fa fa-level-{{isPassedOrFailed(applicant)}}"></i></span> {{ applicant['score'] }}</td>
                            <td>{{ applicant['score'] / applicant['total_number_questions'] * 100 }}%</td>
                            <td>
                                <i  ng-click="goToLocation('/results_comparison/' + applicant.id)" class="ti-check-box pull-left"></i>
                                &nbsp;
                                <i ng-click="goToLocation('/grade_results/' + applicant.id)" class="ti-receipt pull-left" style="margin-left: 25px;"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </uib-tab>

            <uib-tab heading="Failed" active="false" >
               <table class="table">
                    <thead>
                        <tr>
                            <th>Submission Time</th>
                            <th>First name</th>
                            <th>Middle name</th>
                            <th>Last name</th>
                            <th>Total Points</th>
                            <th>Percent</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="applicant in failed">
                            <td>{{applicant['created_at']}}</td>
                            <td>{{applicant['applicants'][0]['firstname']}}</td>
                            <td>{{applicant['applicants'][0]['middlename']}}</td>
                            <td>{{applicant['applicants'][0]['lastname']}}</td>
                            <td><span class="color-{{(isPassedOrFailed(applicant) == 'up') ? 'success' : 'danger'}}">
                                <i class="fa fa-level-{{isPassedOrFailed(applicant)}}"></i></span> {{ applicant['score'] }}</td>
                            <td>{{ applicant['score'] / applicant['total_number_questions'] * 100 }}%</td>
                            <td>
                                <i  ng-click="goToLocation('/results_comparison/' + applicant.id)" class="ti-check-box pull-left"></i>
                                &nbsp;
                                <i ng-click="goToLocation('/grade_results/' + applicant.id)" class="ti-receipt pull-left" style="margin-left: 25px;"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
        
    </div>

</div>
