<div class="page col-sm-6">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Questionnaires</strong></div>
        <div class="fields panel-body form-validation">

            <div class="form-group col-sm-12">
                <label for="">Name</label> 
                <input type="text" class="form-control" ng-model="data.name">
                <span class="help-block {{showErrorBlock('name', 'hidden')}}">
					<strong ng-repeat="error in errors.name">{{error}}</strong>
				</span>
            </div>

            <hr class="dotted" />

            <div class="form-group col-sm-12">
                <label for="">Criteria</label>
                <span class="help-block {{showErrorBlock('criteria', 'hidden')}}">
                    <strong ng-repeat="error in errors.criteria">{{error}}</strong>
                </span>
                <table class="table table-bordered row no-border-top table-margin-auto">
                        <thead>
                            <tr>
                                <th class="col-sm-1"> </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th class="col-sm-1"></th>
                            </tr>
                        </thead>
                        <tbody id="criteria">

                            <table-row-criteria key="'criteria'"
                                        on-remove-row="onRemoveRow({key :'criteria', index: index})"
                                        index="$index" 
                                        rows="rows" 
                                        length="data.criteria.length"
                                        icons="icons"
                                        ng-repeat="rows in data.criteria"></table-row-criteria>

                        </tbody>
                </table>
                <button class="btn btn-warning pull-right" ng-click="addNewRow('criteria')">
                    + Criteria
                </button>

            </div>

            <hr class="dotted" />

            <div class="form-group col-sm-6">
                <label>Color</label>
                <span class="ui-select" style="height: 34px; width: 100%;">
                    <select class="form-control" ng-model="data.color">
                        <option class="bg-default" value="default">Default</option>
                        <option class="bg-primary" value="primary">Primary</option>
                        <option class="bg-success" value="success">Success</option>
                        <option class="bg-danger" value="danger">Danger</option>
                        <option class="bg-info" value="info">Info</option>
                        <option class="bg-warning" value="warning">Warning</option>
                    </select>
                </span>
                <span class="help-block {{showErrorBlock('type_field', 'hidden')}}">
                        <strong ng-repeat="error in errors.type_field">{{error}}</strong>
                </span>
            </div>

            <div class="form-group col-sm-6">
                <label>State</label><br/>
                <label class="ui-checkbox">
                    <input ng-model="data.is_active" type="checkbox" value="1"><span>IS ACTIVE</span>
                </label>
            </div>

            <hr class="dotted" />

            <div class="form-group">
                <ul class="list-inline">
                    <li>
                        <button ng-click="onSubmitForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-warning margin-left-10 ">
                            {{(updateForm) ? 'SAVE CHANGES' : 'CREATE'}}
                        </button>
                    </li>
                    <li>
                        <button ng-click="onClearForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-danger">
                            {{(updateForm) ? 'Cancel' : 'Clear'}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </section> 
</div>

<div class="page col-sm-6">
    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilter()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$fields.length}}/{{_fields.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ALL - QUESTIONNAIRES</strong></div>
        <table class="table has-ellipsis">
            <thead>
                <!-- <tr>
                    <th>Name</th>
                    <th>description</th>
                </tr> -->
            </thead>
            <tbody>

                <tr ng-repeat="questionnaire in $questionnaires">
                    <td class="ellipsis bg-{{ questionnaire.color }}"> {{ questionnaire.name }}</td>
                    <td class="ellipsis"> {{ (questionnaire.is_active) ? 'Active' : 'Inactive' }}</td>
                    <td class="text-right" style="width: 65px;">
	              		<i class="ti-pencil pull-left"></i>
	              		&nbsp;
	              		<i class="ti-close pull-right"></i>
	              	</td>
                </tr>
            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_fields.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 
</div>

