<div class="page col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Questionnaire Pages</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10">
                    <select class="form-control"
                            ng-model="selected.questionnaire"
                            ng-options="questionnaire as questionnaire.name for questionnaire in $questionnaires"
                            ng-change="doSelectQuestionnaire()">
                        <option value="">SELECT QUESTIONNAIRE</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="button"
                            class="btn btn-danger btn-sm form-control {{ (!$selected_questionnaire) ? 'disabled' : '' }}">
                            <i class="fa fa-close"></i> Delete questionnaire
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control input-sm"
                            ng-model="selected.page_id"
                            ng-options="page as objectReturnIndexOf(pages, page) for page in pages track by page"
                            ng-change="doSelectQuestionnairePage()">
                        <option value="">Page</option>
                    </select>
                </div>
                <div class="col-sm-9">
                    <!-- <object width="500" height="200">
                        <param name="movie" value="https://youtu.be/NU9JoFKlaZ0"></param>
                        <param name="allowFullScreen" value="true"></param>
                        <embed src="https://youtu.be/NU9JoFKlaZ0" type="application/x-shockwave-flash" allowfullscreen="true" width="500" height="200"></embed>
                    </object> -->
                    <ul class="list-inline pull-left">
                        <li class="btn-group">
                            <!-- New button -->
                            <button type="button"
                                    class="btn btn-default btn-sm {{ !selected.questionnaire.hasOwnProperty('id') ? 'disabled' : '' }}"
                                    ng-click="newPage()">
                                        <i class="fa fa-file-o"></i> New
                            </button>
                            <!-- Copy button -->
                            <button type="button"
                                    class="btn btn-default btn-sm {{ !selected.page.hasOwnProperty('id') || !selected.questionnaire.hasOwnProperty('id') ? 'disabled' : '' }}">
                                        <i class="fa fa-copy"></i> Copy
                            </button>
                            <!-- Past button -->
                            <button type="button"
                                    class="btn btn-default btn-sm {{ !selected.page.hasOwnProperty('id') || !selected.questionnaire.hasOwnProperty('id') ? 'disabled' : '' }}">
                                        <i class="fa fa-paste"></i> Paste
                            </button>
                            <!-- Preview button -->
                            <button type="button"
                                    class="btn btn-default btn-sm {{ !selected.questionnaire.hasOwnProperty('id') ? 'disabled' : '' }}"
                                    ng-click="openNewPage('#/questionnaire_pages_preview/' + data.questionnaire_id)">
                                        <i class="fa fa-eye"></i> Preview
                            </button>
                        </li>
                    </ul>

                    <div class="questionnaire-field-tool pull-right">
                        <ul class="list-inline">
                            <li>
                                <button type="button"
                                        class="btn btn-success btn-sm {{ (!is_changed_button_enable) ? 'disabled' : '' }}"
                                        ng-click="savePageChanges()">
                                            <i class="fa fa-check"></i> Save Changes
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="btn btn-default btn-sm {{ !selected.page.hasOwnProperty('id') || !selected.questionnaire.hasOwnProperty('id') ? 'disabled' : '' }}"
                                        ng-click="deletePage()">
                                            <i class="fa fa-times"></i> Delete this page
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                        class="btn btn-default btn-sm {{ !selected.page.hasOwnProperty('id') || !selected.questionnaire.hasOwnProperty('id') ? 'disabled' : '' }}">
                                            <i class="fa fa-arrow-left"></i>
                                </button>
                            </li>
                            <li>

                                {{ objectReturnIndexOf(pages, selected.page.id) ? objectReturnIndexOf(pages, selected.page.id) : '0' }}/{{ selected.total_questionnaire_page }}
                            </li>
                            <li>
                                <button type="button"
                                        class="btn btn-default btn-sm {{ !selected.page.hasOwnProperty('id') || !selected.questionnaire.hasOwnProperty('id') ? 'disabled' : '' }}">
                                            <i class="fa fa-arrow-right"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="dotted remove-margin"/>

            <div class="page-wrapper">
                <div>
                    <div class="form-group field-container" id="{{ item.field_type + item.position }}"
                        ng-repeat="item in selected.page.page_items track by $index"
                        ng-if="item.hasOwnProperty('field_type')"
                        ng-mouseover="fieldMouseOver('field_option_' + item.position)"
                        ng-mouseleave="fieldMouseLeave('field_option_' + item.position)">

                            <div class="dropup pull-right" id="field_option_{{ item.position }}">
                                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i> <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)" ng-click="addEditQuestonnaireField({action_type: 'edit', data: {type: item.field_type, position: item.position}})">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" ng-click="removePageField(item.position)"><i class="fa fa-times"></i> Remove</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- MEDIA -->
                            <div class="text-{{ item.attributes.alignment }}" ng-if="item.field_type == 'media'">
                                <iframe width="500"
                                        height="300"
                                        ng-src="{{ trustResourceURL('https://www.youtube.com/embed/' + item.attributes.value) }}"
                                        frameborder="0"
                                        allowfullscreen></iframe>
                            </div>
                            <!-- END MEDIA -->

                            <!-- HEADER TEXT -->
                            <h1 ng-if="item.field_type == 'heading' && item.attributes.size == 1"
                                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
                                    {{ item.attributes.value }}
                            </h1>
                            <h2 ng-if="item.field_type == 'heading' && item.attributes.size == 2"
                                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
                                    {{ item.attributes.value }}
                            </h2>
                            <h3 ng-if="item.field_type == 'heading' && item.attributes.size == 3"
                                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
                                    {{ item.attributes.value }}
                            </h3>
                            <h4 ng-if="item.field_type == 'heading' && item.attributes.size == 4"
                                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
                                    {{ item.attributes.value }}
                            </h4>
                            <h5 ng-if="item.field_type == 'heading' && item.attributes.size == 5"
                                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}">
                                    {{ item.attributes.value }}
                            </h5>

                            <!-- TEXT -->
                            <p ng-if="item.field_type == 'text'"
                                class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}"
                                style="font-size:{{ item.attributes.size }};">
                                    {{ item.attributes.value }}
                            </p>
                                    
                            <section ng-if="item.field_type == 'question'">
                                <p class="text-{{ item.attributes.alignment }} {{ (item.attributes.emphasis.underline) ? 'text-typo-underline' : '' }} {{ (item.attributes.emphasis.bold) ? 'text-typo-bold' : '' }} {{ (item.attributes.emphasis.italic) ? 'text-typo-italic' : '' }}"
                                    style="font-size:{{ item.attributes.size }};">
                                    {{ item.attributes.value }}
                                </p>
                                <ul style="list-style-type:none;">
                                    <li class="input-group input-group-sm"
                                        ng-if="item.attributes.choices.choice_type == 'FILL IN THE BLANK'"
                                        style="margin-bottom:2px;">
                                        <span class="input-group-addon">Answer</span>
                                        <input type="text"
                                                class="form-control"
                                                ng-change="setQuestionAnswer(item.position)"
                                                ng-model="item.attributes.answers">
                                    </li>
                                    <li ng-if="item.attributes.choices.choice_type == 'SINGLE SELECTION'"
                                        ng-repeat="(key, choice) in item.attributes.choices.choices_attributes"
                                        class="{{ (inArray(key, item.attributes.answers)) ? 'bg-success' : '' }}"
                                        style="font-size:{{ item.attributes.size }};padding:3px;margin-bottom:2px;">
                                        <input type="radio"
                                                ng-model="item.attributes.answers"
                                                ng-change="setQuestionAnswer(item.position)"
                                                value="{{ key }}"> {{ choice.choice_text }}
                                    </li>
                                    <li ng-if="item.attributes.choices.choice_type == 'MULTIPLE SELECTION'"
                                        ng-repeat="(key, choice) in item.attributes.choices.choices_attributes"
                                        class="{{ (inArray(key, item.attributes.answers)) ? 'bg-success' : '' }}"
                                        style="font-size:{{ item.attributes.size }};padding:3px;margin-bottom:2px;">
                                        <input type="checkbox"
                                                checklist-model="item.attributes.answers"
                                                ng-click="setQuestionAnswer(item.position)"
                                                checklist-value="key"> {{ choice.choice_text }}
                                    </li>
                                </ul>
                            </section>
                    </div>
                    <div class="panel panel-default questionnaire-tool-menu" ng-show="!selected.page.hasOwnProperty('id') || !selected.questionnaire.hasOwnProperty('id') ? {{ 'false' }} : show_tool_menu">
                        <div class="panel-body text-center">
                            <p>What would you like to add in this column?</p>

                            <button type="button" class="btn btn-default btn-sm" ng-click="addEditQuestonnaireField({action_type: 'add', data: {type: 'heading' }})">
                                <i class="fa fa-header"></i> Heading
                            </button>

                            <button type="button" class="btn btn-default btn-sm" ng-click="addEditQuestonnaireField({action_type: 'add', data: {type: 'text' }})">
                                <i class="fa fa-font"></i> Text
                            </button>
                            
                            <button type="button" class="btn btn-default btn-sm" ng-click="addEditQuestonnaireField({action_type: 'add', data: {type: 'media' }})">
                                <i class="fa fa-film"></i> Video
                            </button>
                            
                            <button type="button" class="btn btn-default btn-sm" ng-click="addEditQuestonnaireField({action_type: 'add', data: {type: 'question' }})">
                                <i class="fa fa-question"></i> Question
                            </button>
                        </div>
                    </div>

                    <!-- HEADER TEXT TOOL -->
                    <div class="panel panel-default questionnaire-tool" id="header_text_tool" ng-show="tools.header_text_tool_visible">
                        <div class="panel-heading">
                           <strong><i class="fa fa-header"></i> Header Text Tool</strong>
                           <div class="pull-right">
                                <button type="button" class="btn btn-default btn-xs" ng-click="cancelTool()">
                                   <i class="fa fa-times"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="saveFieldAttributes()">
                                   <i class="fa fa-check"></i>
                                </button>
                           </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-inline">
                                <li class="dropup">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-header"></i> {{ selected.page.page_items[field_position].attributes.size }} <span class="caret"></span>
                                    </button>
                                    <!-- Size dropdown -->
                                    <ul class="dropdown-menu">
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '1') ? 'active' : ''}}">
                                            <a href="javascript:void(0)"
                                                ng-click="addFieldSize('1')"><i class="fa fa-header"></i> 1</a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '2') ? 'active' : ''}}">
                                            <a href="javascript:void(0)"
                                                ng-click="addFieldSize('2')"><i class="fa fa-header"></i> 2</a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '3') ? 'active' : ''}}">
                                            <a href="javascript:void(0)"
                                                ng-click="addFieldSize('3')"><i class="fa fa-header"></i> 3</a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '4') ? 'active' : ''}}">
                                            <a href="javascript:void(0)"
                                                ng-click="addFieldSize('4')"><i class="fa fa-header"></i> 4</a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '5') ? 'active' : ''}}">
                                            <a href="javascript:void(0)"
                                                ng-click="addFieldSize('5')"><i class="fa fa-header"></i> 5</a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- Alignment option -->
                                <li class="btn-group btn-group-sm">
                                    <!-- Left -->
                                    <button type="button" 
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'left') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('left')">
                                                <i class="fa fa-align-left"></i>
                                    </button>
                                    <!-- Center -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'center') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('center')">
                                                <i class="fa fa-align-center"></i>
                                    </button>
                                    <!-- Right -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'right') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('right')">
                                                <i class="fa fa-align-right"></i>
                                    </button>
                                </li>

                                <!-- Emphasis option -->
                                <li class="btn-group btn-group-sm">
                                    <!-- Underline -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.emphasis.underline) ? 'active' : '' }}"
                                            ng-click="addFieldEmphasis('underline')">
                                                <i class="fa fa-underline"></i>
                                    </button>
                                    <!-- Italic -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.emphasis.italic) ? 'active' : '' }}"
                                            ng-click="addFieldEmphasis('italic')">
                                                <i class="fa fa-italic"></i>
                                    </button>
                                    <!-- Bold -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.emphasis.bold) ? 'active' : '' }}"
                                            ng-click="addFieldEmphasis('bold')">
                                                <i class="fa fa-bold"></i>
                                    </button>
                                </li>
                            </ul>
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Header Text</span>
                                    <input type="text" class="form-control" ng-model="selected.page.page_items[field_position].attributes.value">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END HEADER TEXT TOOL -->

                    <!-- MEDIA TOOL -->
                    <div class="panel panel-default questionnaire-tool" id="media_tool" ng-show="tools.media_tool_visible">
                        <div class="panel-heading">
                           <strong><i class="fa fa-film"></i> Media Tool</strong>
                           <div class="pull-right">
                                <button type="button" class="btn btn-default btn-xs" ng-click="cancelTool()">
                                   <i class="fa fa-times"></i>
                               </button>
                               <button type="button" class="btn btn-primary btn-xs" ng-click="saveFieldAttributes()">
                                   <i class="fa fa-check"></i>
                               </button>
                           </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-inline">
                                <!-- <li class="dropup">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-film"></i> UPLOAD <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#"><i class="fa fa-film"></i> UPLOAD</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-film"></i> URL</a>
                                        </li>
                                    </ul>
                                </li> -->
                                <li class="btn-group btn-group-sm">
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'left') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('left')">
                                        <i class="fa fa-align-left"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'center') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('center')">
                                        <i class="fa fa-align-center"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'right') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('right')">
                                        <i class="fa fa-align-right"></i>
                                    </button>
                                </li>
                            </ul>
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Video ID</span>
                                    <input type="text" class="form-control" ng-model="selected.page.page_items[field_position].attributes.value">
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <input type="file" class="input-sm form-control">
                            </div> -->
                        </div>
                    </div>

                    <!-- END MEDIA TOOL -->

                    <!-- TEXT TOOL -->
                    <div class="panel panel-default questionnaire-tool" id="text_tool" ng-show="tools.text_tool_visible">
                        <div class="panel-heading">
                           <strong><i class="fa fa-font"></i> Text Tool</strong>
                           <div class="pull-right">
                                <button type="button" class="btn btn-default btn-xs" ng-click="cancelTool()">
                                   <i class="fa fa-times"></i>
                               </button>
                               <button type="button" class="btn btn-primary btn-xs" ng-click="saveFieldAttributes()">
                                   <i class="fa fa-check"></i>
                               </button>
                           </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-inline">
                                <li class="dropup">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-font"></i> {{ selected.page.page_items[field_position].attributes.size }} <span class="caret"></span>
                                    </button>
                                    <!-- Font size -->
                                    <ul class="dropdown-menu">
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '6px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('6px')">
                                                <i class="fa fa-font"></i> 6px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '8px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('8px')">
                                                <i class="fa fa-font"></i> 8px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '10px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('10px')">
                                                <i class="fa fa-font"></i> 10px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '12px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('12px')">
                                                <i class="fa fa-font"></i> 12px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '14px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('14px')">
                                                <i class="fa fa-font"></i> 14px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '16px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('16px')">
                                                <i class="fa fa-font"></i> 16px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '18px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('18px')">
                                                <i class="fa fa-font"></i> 18px
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="btn-group btn-group-sm">
                                    <!-- Justify -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'justify') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('justify')">
                                                <i class="fa fa-align-justify"></i>
                                    </button>
                                    <!-- Left -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'left') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('left')">
                                                <i class="fa fa-align-left"></i>
                                    </button>
                                    <!-- center -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'center') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('center')">
                                                <i class="fa fa-align-center"></i>
                                    </button>
                                    <!-- Right -->
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'right') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('right')">
                                                <i class="fa fa-align-right"></i>
                                    </button>
                                </li>
                            </ul>
                            <textarea class="form-control input-sm" ng-model="selected.page.page_items[field_position].attributes.value"></textarea>
                        </div>
                    </div>

                    <!-- END TEXT TOOL -->

                    <!-- QUESTION TOOL -->

                    <div class="panel panel-default questionnaire-tool" id="question_tool" ng-show="tools.question_tool_visible">
                        <div class="panel-heading">
                           <strong><i class="fa fa-question"></i> Question Tool</strong>
                           <div class="pull-right">
                                <button type="button" class="btn btn-default btn-xs" ng-click="cancelTool()">
                                   <i class="fa fa-times"></i>
                               </button>
                               <button type="button" class="btn btn-primary btn-xs" ng-click="saveFieldAttributes('question')">
                                   <i class="fa fa-check"></i>
                               </button>
                           </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-inline">
                                <li class="dropup">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-font"></i> {{ selected.page.page_items[field_position].attributes.size }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '6px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('6px')">
                                                <i class="fa fa-font"></i> 6px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '8px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('8px')">
                                                <i class="fa fa-font"></i> 8px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '10px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('10px')">
                                                <i class="fa fa-font"></i> 10px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '12px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('12px')">
                                                <i class="fa fa-font"></i> 12px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '14px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('14px')">
                                                <i class="fa fa-font"></i> 14px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '16px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('16px')">
                                                <i class="fa fa-font"></i> 16px
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.size == '18px') ? 'active' : ''}}">
                                            <a href="javascript:void(0)" ng-click="addFieldSize('18px')">
                                                <i class="fa fa-font"></i> 18px
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropup">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-list-ul"></i> {{ selected.page.page_items[field_position].attributes.choices.choice_type }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="{{ (selected.page.page_items[field_position].attributes.choices.choice_type == 'FILL IN THE BLANK') ? 'active' : '' }}">
                                            <a href="javascript:void(0)" ng-click="addChoicesType('FILL IN THE BLANK')">
                                                <i class="fa fa-list-ul"></i> FILL IN THE BLANK
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.choices.choice_type == 'SINGLE SELECTION') ? 'active' : '' }}">
                                            <a href="javascript:void(0)" ng-click="addChoicesType('SINGLE SELECTION')">
                                                <i class="fa fa-list-ul"></i> SINGLE SELECTION
                                            </a>
                                        </li>
                                        <li class="{{ (selected.page.page_items[field_position].attributes.choices.choice_type == 'MULTIPLE SELECTION') ? 'active' : '' }}">
                                            <a href="javascript:void(0)" ng-click="addChoicesType('MULTIPLE SELECTION')">
                                                <i class="fa fa-list-ul"></i> MULTIPLE SELECTION
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="btn-group btn-group-sm">
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'left') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('left')">
                                                <i class="fa fa-align-left"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'center') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('center')">
                                                <i class="fa fa-align-center"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.alignment == 'right') ? 'active' : '' }}"
                                            ng-click="addFieldAlignment('right')">
                                                <i class="fa fa-align-right"></i>
                                    </button>
                                </li>
                                <li class="btn-group btn-group-sm">
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.emphasis.underline) ? 'active' : '' }}"
                                            ng-click="addFieldEmphasis('underline')">
                                                <i class="fa fa-underline"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.emphasis.italic) ? 'active' : '' }}"
                                            ng-click="addFieldEmphasis('italic')">
                                                <i class="fa fa-italic"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default {{ (selected.page.page_items[field_position].attributes.emphasis.bold) ? 'active' : '' }}"
                                            ng-click="addFieldEmphasis('bold')">
                                                <i class="fa fa-bold"></i>
                                    </button>
                                </li>
                                <li class="dropup">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-list-ul"></i> {{ selected.page.page_items[field_position].criteria | uppercase }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="criteria in selected.questionnaire.criteria"
                                            class="{{ (selected.page.page_items[field_position].criteria === criteria[0].value) ? 'active' : '' }}">
                                            <a href="javascript:void(0)" ng-click="addQuestionCriteria(criteria[0].value)">
                                                <i class="fa fa-list-ul"></i> {{ criteria[0].value | uppercase }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Question Sentence</span>
                                    <input type="text" class="form-control" ng-model="selected.page.page_items[field_position].attributes.value">
                                </div>
                            </div>
                            <ul class="question-tool-multiple-choice-fields">
                                <li class="form-group"
                                    ng-if="selected.page.page_items[field_position].attributes.choices.choice_type == 'SINGLE SELECTION' || selected.page.page_items[field_position].attributes.choices.choice_type == 'MULTIPLE SELECTION'"
                                    ng-repeat="choice in selected.page.page_items[field_position].attributes.choices.choices_attributes">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">{{ choice.choice_letter }}.</span>
                                        <input type="text" class="form-control" ng-model="choice.choice_text">
                                    </div>
                                </li>
                                <li class="form-group text-right">
                                    <button type="button"
                                            class="btn btn-primary btn-sm"
                                            ng-click="addChoice()">
                                                <i class="fa fa-plus"></i> Add choice
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- END QUESTION TOOL -->
                </div>
               <div class="no-page" ng-if="$selected_questionnaire.pages.length == 0">
                    <h2>NO PAGE YET</h2>
                    <button type="button" class="btn btn-success btn-sm" ng-click="newPage()">
                        <i class="fa fa-plus"></i> Create Page
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
