<div class="page col-sm-6">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> QUESTIONAIRE GROUPS</strong></div>
        <div class="questionaire_groups panel-body form-validation">
            <div class="form-group col-sm-12">
                <label for="">Name</label> 
                <input type="text" class="form-control" required data-ng-minlength=1 ng-model="data.name" >
                <span class="help-block {{showErrorBlock('name', 'hidden')}}">
					<strong ng-repeat="error in errors.name">{{error}}</strong>
				</span>
            </div>
			<hr class="dotted" />
            <div class="form-group col-sm-12">
                <label for="">Description</label>

                 <div text-angular ng-model="data.description" class="ui-editor" tabindex="6"></div>

                <span class="help-block {{showErrorBlock('description', 'hidden')}}">
					<strong ng-repeat="error in errors.description">{{error}}</strong>
				</span>
            </div>
            <hr class="dotted" />
            <div class="form-group">
                <ul class="list-inline">
                    <li>
                        <button ng-click="onSubmitForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-warning margin-left-10 ">
                            {{(updateForm) ? 'UPDATE QUESTIONAIRE GROUP' : 'ADD NEW QUESTIONAIRE GROUP'}}
                        </button>
                    </li>
                    <li>
                        <button ng-click="onClearForm()" 
                                type="button" 
                                class="btn btn-gap-v btn-danger">
                            {{(updateForm) ? 'Cancel' : 'Clear'}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </section> 
</div>

<div class="page col-sm-6">
    <div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilter()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$questionaire_groups.length}}/{{_questionaire_groups.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> ALL - QUESTIONAIRE GROUPS</strong></div>
        <table class="table has-ellipsis">
            <thead>
                <!-- <tr>
                    <th>Name</th>
                    <th>description</th>
                </tr> -->
            </thead>
            <tbody>

                <tr ng-repeat="questionaire_group in $questionaire_groups">
                    <td class="ellipsis"> {{questionaire_group.name}}</td>
                    <td class="ellipsis"> <i class="{{questionaire_group.description}}"></i></td>
                    <td class="text-right" style="width: 65px;">
	              		<i ng-click="onUpdate(questionaire_group)"  class="ti-pencil pull-left"></i>
	              		&nbsp;
	              		<i ng-click="onDelete(questionaire_group)" class="ti-close pull-right"></i>
	              	</td>
                </tr>
            </tbody>
        </table>
    </div>

        <footer class="table-footer panel panel-default">
	        <div class="row">
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                            ng-model="currentPage"
	                            total-items="_questionaire_groups.length"
	                            max-size="4"
	                            ng-change="select(currentPage)"
	                            items-per-page="numPerPage"
	                            rotate="false"
	                            previous-text="&lsaquo;" next-text="&rsaquo;"
	                            boundary-links="true"></uib-pagination>
	            </div>
	        </div>
	    </footer> 
</div>

