<div class="page col-sm-9">

    <section class="panel panel-default ">
        <div class="panel-heading">
        	<strong>
	        	<span class="glyphicon glyphicon-th"></span> 
	        	<span data-translate="MANAGE_USER"></span>
        	</strong>
        </div>
        <div class="members panel-body form-validation">
            
        <!-- column 1 -->
            <div class="col-sm-4">
				<div class="form-group">
					<span class="ui-select" style="height: 34px; width: 100%;">
					    <select ng-model="data.user_group_id" 
					    		id="select-picker-user-group-id">
							<option value="">Select User Group</option>
							<option ng-repeat="option in $user_groups" 
									value="{{option.id}}"
									ng-selected="option.id == data.user_group_id" >{{option.name}}</option>
					    </select>

					    <span class="help-block {{showErrorBlock('user_group_id', 'hidden')}}"> 
						    <strong ng-repeat="error in errors.user_group_id">{{error}}</strong>
						</span>
					</span>
				</div>

				<div class="form-group">
					<input  type="email"
					        class="form-control"
					        placeholder="E-Mail"
					        required
					        data-ng-minlength=1
					        ng-model="data.email">
					<span class="help-block {{showErrorBlock('email', 'hidden')}}">
						<strong ng-repeat="error in errors.email">{{error}}</strong>
					</span>
				</div>

            </div>
        <!-- #column 1 -->

        <!-- column 2 -->
            <div class="col-sm-4">

            	<div class="form-group">
					<input  type="text"
					        class="form-control"
					        placeholder="First Name"
					        required
					        data-ng-minlength=1
					        ng-model="data.firstname">
					<span class="help-block {{showErrorBlock('firstname', 'hidden')}}">
						<strong ng-repeat="error in errors.firstname">{{error}}</strong>
					</span>
				</div>

				<div class="form-group">
					<span class="ui-select" style="height: 34px; width: 100%;">
					    <select ng-model="data.status" 
					    		id="select-picker-user-status">
							<option value="">Select Status</option>
							<option ng-repeat="option in ['Active', 'Inactive']" 
									value="{{option}}"
									ng-selected="option == data.status" >{{option}}</option>
					    </select>

					    <span class="help-block {{showErrorBlock('status', 'hidden')}}"> 
						    <strong ng-repeat="error in errors.status">{{error}}</strong>
						</span>
					</span>
				</div>

            </div>

        <!-- #column 2 -->

        <!-- column 3 -->
            <div class="col-sm-4">

           		<div class="form-group">
				    <input  type="text"
				    		placeholder="Last Name"
				            class="form-control"
				            required
				            data-ng-minlength=1
				            ng-model="data.lastname">
				    <span class="help-block {{showErrorBlock('lastname', 'hidden')}}">
					    <strong ng-repeat="error in errors.lastname">{{error}}</strong>
					</span>
				</div>

				<div class="form-group">
	                <div class="input-group">
                        <input type="text"
	                		placeholder="Password"
	                        class="form-control"
	                        required
	                        data-ng-minlength=1
	                        ng-model="data.password"
	                        id="random-password-field">
                        <span class="input-group-btn">
                            <button ng-click="onGeneratePassword()" 
                            		class="btn btn-default ti-reload" type="button"></button>
                        </span>
                    </div>
                    <span class="help-block {{showErrorBlock('password', 'hidden')}}">
				      <strong ng-repeat="error in errors.password">{{error}}</strong>
				  	</span>
	            </div>

            </div>

            <!-- #column 3 -->


            <div class="col-sm-3 pull-right">
            	<button ng-click="onSubmitForm()" 
            			type="button" 
            			class="btn btn-w-md btn-gap-v btn-warning col-sm-3 btn-block">
            		 {{(updateForm) ? 'Update Memeber' : 'Create Member'}} 
            	</button>
            </div>

            <div class="col-sm-2 pull-right">
            	<button ng-click="onClearForm()" 
            			type="button" 
            			class="btn btn-w-md btn-gap-v btn-danger col-sm-2">
            		 {{(updateForm) ? 'Cancel' : 'Clear'}} 
            	</button>
            </div>

        </div>
    </section> 

</div>

<div class="page col-sm-3">

    <section class="panel panel-default ">
        <div class="panel-heading"><strong><span data-translate="STATISTICS"></span></strong></div>
        <section class="panel panel-box" style="margin: 0px;">
	        <div class="list-justified-container">
	            <ul class="list-justified text-center col-sm-12">
	                <li>
	                    <p class="size-h3">{{$users_counter.active_users}}</p>
	                    <p class="text-muted">Active Users</p>
	                </li>
	                <li>
	                    <p class="size-h3">{{$users_counter.inactive_users}}</p>
	                    <p class="text-muted">Inactive Users</p>
	                </li>
	            </ul>
	        </div>
        </section>
    </section> 

</div>


<div class="page col-sm-12">
	
	<div class="form-group">
        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="onSearchFilter()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{$users.length}}/{{_users.length}} entries
                    </span>              
                </div>
            </div>
        </div>
    </div>


	 <div class="container-table">	

		  <!-- All -->

		<div class="table-responsive background-white-table">


	        <table class="table ">
	          <thead>
	            <tr>
	              <!-- <th style="width: 1px;" class="text-center">
	              	<input type="checkbox" checkbox-picker>
	              </th> -->
	              <th class="text-left"><b> <!-- Name --></b></th>
	              <th class="text-left"><b> <!-- E-Mail --></b></th>
	              <th class="text-left"><b><!-- Membership --></b></th>
				  <th class="text-left"><b><!-- Date Created --></b></th>
	              <th class="text-right"><b><!-- Action --></b></th>
	            </tr>
	          </thead>
	          <tbody>
	          	
	            <tr class="{{(user.status === 1) ? '' : 'row-disabled'}}"  ng-repeat="user in $users">
	              <!-- <td class="text-center"><input type="checkbox" name="selected[]" value="{{user.id}}"></td> -->
	              <td class="text-left ">{{user.firstname}} {{user.lastname}}</td>
	              <td class="text-line-left text-center">{{user.email}}</td>
	              <td class="text-line-left text-center">{{user.name}}</td>
	              <td class="text-line-left text-center">{{user.created_at}}</td>
	              <td class="text-right">
	              	<!-- <i ng-click="onDisabled(user)"  
                            class="{{(user.status === 1) ? 'ti-na' : 'ti-check-box'}}"></i>
                    &nbsp; -->
              		<i ng-click="onUpdate(user)"  class="ti-pencil"></i>
              		&nbsp;
              		<i ng-click="onDelete(user)" class="ti-close"></i>
	              </td>
	            </tr>
	            
	          </tbody>
	        </table>
	        
	    </div>
	      <!-- #All -->
	</div>  

	<footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                    Show 
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select> 
                    entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="$users[keyUsers[tab]].length"
                            max-size="4"
                            ng-change="select(currentPage)"
                            items-per-page="numPerPage"
                            rotate="false"
                            previous-text="&lsaquo;" next-text="&rsaquo;"
                            boundary-links="true"></uib-pagination>
            </div>
        </div>
    </footer>         
  
</div>