.btn-warning {
	color: #fff;
	background-color: #CDDC2C;
	border-color: #e6c12b;
}
.btn-warning.active, .btn-warning:active, .btn-warning:hover, .open>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #C4D234;
    border-color: #be9d16;
}

.table-responsive.background-white-table thead tr {
	background: #F3F3F3;
}

.table-responsive.background-white-table tbody tr {
	 background: #FFFFFF;
}


.table-responsive.background-white-table table{
	border: 0px solid #ddd;
}

.table-responsive.background-white-table table thead tr {
	border: 0px solid #ddd;
}

.table-responsive.background-white-table table tbody tr {
	border: 0px solid #ddd;
}

.table-responsive.background-white-table table tbody td.text-line-left {
	position: relative;
}
.table-responsive.background-white-table table tbody td.text-line-left:before {
	content: '';
	background: #626262;
	height: 20px;
	width: 1px;
	top: 15px;
	right: 0px;
	position: absolute;
	left: 0px;
}

.margin-with-0 {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.dotted {border: 2px dotted #E8E8E8; border-style: none none dotted; color: #fff; background-color: #fff; width: 100%;}

.no-border-top {
	border-top: 0px;
}

.side-background {
	background: #F9F9F9;
}

.btn-icon-round.gray {
	color: #A7A7A7;
    border-color: #A7A7A7;
    border-width: 1px;
}

.btn-icon-round.gray:hover{
	text-decoration: none;
}


.btn-icon-round.gray:active{
	color: #fff;
    background-color: #626262;
    border-color: #A7A7A7;
}
.btn-icon-round.gray > span {
	font-weight: bold;
}

.btn-icon-round-plus {
	position: absolute;
    bottom: 3px;
    right: -10px;
}

.btn-icon-round-minus {
	position: absolute;
    bottom: -29px;
    right: -10px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-left-0 {
	margin-left: 0px;
}

.table-margin-auto {
	margin: 0 auto;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #C4D234;
    border-color: #E6C12B;
    cursor: default;
}

.position-relative {
	position: relative;
}

.help-block {
	font-size: 13px;
    color: #E21E1E;
}

#toolbarCC , #toolbarWC{
	display: none !important;
}


table.table.has-ellipsis {
	table-layout: fixed;
}
td.ellipsis{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.text-center:before {
	left: 5px;
    position: relative;
}

span.label-active 
{
	position: relative;
}

span.label-active:before 
{
	content: '';
	background: green;
	width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 3px;
}

span.label-inactive 
{
	position: relative;
}

span.label-inactive:before 
{
	content: '';
	background: yellow;
	width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 3px;
}

span.retangle-border {
	position: relative;
}

span.retangle-border:before{
	background: white;
    border-radius: 29%;
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    position: absolute;
    width: 30px;
    text-align: center;
    height: 19px;
    top: 15px;
    line-height: 16px;
    left: 6px;
}

span.button-icon {
	/*cursor: pointer;*/
}


.modal-dialog.modal-lg{
	width: 1130px;
    position: absolute;
    right: 50%;
    margin-right: -565px;
}

h5 {
    font-size: 12px;
}

small.label-thumbnail {
	position: absolute;
    bottom: 0px;
    left: 50%;
}

.thumbnail.cover-photo-selected {
	background-color: #D00F7E;
}

a.view-resume-icon-link {
	color: #949494;
    text-decoration: none;
    font-size: 16px;
}

table tr.row-disabled {
	background: #D9D9D9 !important;
}

.file-input-name {
	display: none;
}

.popover, .popover-title {
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.ui.steps .active.step .icon {
	color: #AE010C !important;
}

.ui.steps .active.step .title {
	color: #B24F55 !important;
}

.text-danger {
	color: #CF000F !important;
}

.bg-default {
	background-color: #F1F1F1;
}

.no-page {
	padding: 150px 100px;
	text-align: center;
	background-color: #FCFCFC;
	margin-top: 5px;
}

.page-wrapper {
	margin-top: 10px;
}

.dotted.remove-margin {
	margin: 4px 0px !important;
}

.question-tool-multiple-choice-fields {
	list-style-type: none;
}

.questionnaire-tool-menu {
	border: 1px dashed #E5E5E5;
	background-color: #F6F6F6;
}

.text-typo-bold {
	font-weight: bold;
}

.text-typo-underline {
	text-decoration: underline;
}

.text-typo-italic {
	font-style: italic;
}

.field-container {
	border: 1px dashed transparent;
	padding: 5px 5px;
	position: relative;
}

.field-container:hover,
.field-container:active,
.field-container:focus {
	border: 1px dashed #E5E5E5;
	background-color: #F6F6F6;
	outline: none;
}

.field-container > .dropup {
	position: absolute;
	right: 0;
	margin-right: 10px;
	display: none;
	margin-top: -1px;
}