

<div class="form-group col-md-4 {{hasError('user_group_id', 'has-error')}}"> 
  <label class="control-label">Member Ship</label>
 	<select select-picker id="select-picker-user-group-id" class="form-control" ng-model="data.user_group_id">
	 	<option value="">Select User Group</option>
	 	<option ng-repeat="option in $user_groups.Employer" 
    				value="{{option.id}}">{{option.sub_role}}</option>
    <option data-divider="true"></option>				
	 	<option ng-repeat="option in $user_groups.Candidate" 
    				value="{{option.id}}">{{option.sub_role}}</option>
  </select>

  <span class="help-block {{showErrorBlock('user_group_id', 'hidden')}}"> 
      <strong ng-repeat="error in errors.user_group_id">{{error}}</strong>
  </span>
</div>

<div class="form-group col-md-4 {{hasError('firstname', 'has-error')}}"> 
  <label class="control-label">First Name</label>
  <input type="text" class="form-control" ng-model="data.firstname" >
  <span class="help-block {{showErrorBlock('firstname', 'hidden')}}">
      <strong ng-repeat="error in errors.firstname">{{error}}</strong>
  </span>
</div>

<div class="form-group col-md-4 {{hasError('lastname', 'has-error')}}"> 
  <label class="control-label">Last Name</label>
  <input type="text" class="form-control" ng-model="data.lastname" >
  <span class="help-block {{showErrorBlock('lastname', 'hidden')}}">
      <strong ng-repeat="error in errors.lastname">{{error}}</strong>
  </span>
</div>

<div class="form-group col-md-4 {{hasError('email', 'has-error')}}"> 
  <label class="control-label">Email</label>
  <input type="email" class="form-control" ng-model="data.email" >
  <span class="help-block {{showErrorBlock('email', 'hidden')}}">
      <strong ng-repeat="error in errors.email">{{error}}</strong>
  </span>
</div>

<div class="form-group col-md-4 {{hasError('phone', 'has-error')}}"> 
  <label class="control-label">Phone</label>
  <input id="phone-input-id" class="form-control" type='text' phone-input ng-model="data.phone"/>
  <span class="help-block {{showErrorBlock('phone', 'hidden')}}">
      <strong ng-repeat="error in errors.phone">{{error}}</strong>
  </span>
</div>

<div class="form-group col-md-4 {{hasError('password', 'has-error')}}"> 
  <label class="control-label">Password</label>
  <button ng-click="onGeneratePassword()" class="btn-xs btn-info pull-right">
      Generate Random Password
  </button>
  <input type="text" class="form-control" ng-model="data.password" >
  <span class="help-block {{showErrorBlock('password', 'hidden')}}">
      <strong ng-repeat="error in errors.password">{{error}}</strong>
  </span>
</div>

<div class="form-group col-md-2 pull-right"> 
	 <button ng-click="onCreateMember()" type="submit" class="btn btn-block btn-primary">
    {{(updateMember) ? 'Update Memeber' : 'Create Member'}} 
	</button>
</div>

<div class="form-group col-md-2 pull-right"> 
	 <button ng-click="onResetMember()" type="submit" class="btn btn-block btn-danger">
    {{(updateMember) ? 'Cancel' : 'Reset'}} 
	</button>
</div>


<div class="divider"></div>
<div class="container-table">	
	<ul class="nav nav-tabs">
		<li ng-repeat="tab in tabs" ng-click="onTabSelected($index)" class="{{tab.class}}">
			<a  href="javascript:void(0);">{{tab.name}}</a>
		</li>
	</ul>

	<div class="tab-content">
	  <div class="tab-pane {{tabs[0].class}}" id="all">
	  <!-- All -->
	    <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <!-- <td style="width: 1px;" class="text-center">
              	<input type="checkbox" checkbox-picker>
              </td> -->
              <td class="text-left"><b>Name</b></td>
              <td class="text-left"><b>E-Mail</b></td>
              <td class="text-left"><b>Phone</b></td>
              <td class="text-left"><b>Membership</b></td>
							<td class="text-left"><b>Date Created</b></td>
              <td class="text-right"><b>Action</b></td>
            </tr>
          </thead>
          <tbody>
          	
          	
            <tr ng-repeat="user in $users.all">
              <!-- <td class="text-center"><input type="checkbox" name="selected[]" value="{{user.id}}"></td> -->
              <td class="text-left">{{user.firstname}} {{user.lasttname}}</td>
              <td class="text-left">{{user.email}}</td>
              <td class="text-left">{{user.phone}}</td>
              <td class="text-left">{{user.sub_role}}</td>
              <td class="text-left">{{user.created_at}}</td>
              <td class="text-right">
              	<a ng-click="onUpdateMember(user)" 
              	  href="javascript:void(0)" data-toggle="tooltip" title="Edit" 
              		class="btn btn-primary" data-original-title="Edit">
              		<i class="fa fa-pencil"></i>
              	</a>

              	<button type="button" data-toggle="tooltip" title="Delete" 
              					class="btn btn-danger" ng-click="onDeleteMember(user)" 
              					data-original-title="Delete">
              			<i class="fa fa-trash-o"></i>
              	</button>

              </td>
            </tr>
            
          </tbody>
        </table>
        
      </div>
      <!-- #All -->
		</div>
		<div class="tab-pane {{tabs[1].class}}" id="employers">
	    
	    <!-- Employers -->
			<div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <!-- <td style="width: 1px;" class="text-center">
              	<input type="checkbox" checkbox-picker>
              </td> -->
              <td class="text-left"><b>Name</b></td>
              <td class="text-left"><b>E-Mail</b></td>
              <td class="text-left"><b>Phone</b></td>
              <td class="text-left"><b>Membership</b></td>
							<td class="text-left"><b>Date Created</b></td>
              <td class="text-right"><b>Action</b></td>
            </tr>
          </thead>
          <tbody>
          	
          	
            <tr ng-repeat="user in $users.employers">
              <!-- <td class="text-center"><input type="checkbox" name="selected[]" value="{{user.id}}"></td> -->
              <td class="text-left">{{user.firstname}} {{user.lasttname}}</td>
              <td class="text-left">{{user.email}}</td>
              <td class="text-left">{{user.phone}}</td>
              <td class="text-left">{{user.sub_role}}</td>
              <td class="text-left">{{user.created_at}}</td>
              <td class="text-right">
              	<a ng-click="onUpdateMember(user)" 
              	  href="javascript:void(0)" data-toggle="tooltip" title="Edit" 
              		class="btn btn-primary" data-original-title="Edit">
              		<i class="fa fa-pencil"></i>
              	</a>

              	<button type="button" data-toggle="tooltip" title="Delete" 
              					class="btn btn-danger" ng-click="onDeleteMember(user)" 
              					data-original-title="Delete">
              			<i class="fa fa-trash-o"></i>
              	</button>

              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
	    <!-- #Employers -->
		</div>
	  <div class="tab-pane {{tabs[2].class}}" id="candidates">
	   	
	  	 <!-- Candidates -->
			<div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <!-- <td style="width: 1px;" class="text-center">
              	<input type="checkbox" checkbox-picker>
              </td> -->
              <td class="text-left"><b>Name</b></td>
              <td class="text-left"><b>E-Mail</b></td>
              <td class="text-left"><b>Phone</b></td>
              <td class="text-left"><b>Membership</b></td>
							<td class="text-left"><b>Date Created</b></td>
              <td class="text-right"><b>Action</b></td>
            </tr>
          </thead>
          <tbody>
          	
          	
            <tr ng-repeat="user in $users.candidates">
              <!-- <td class="text-center"><input type="checkbox" name="selected[]" value="{{user.id}}"></td> -->
              <td class="text-left">{{user.firstname}} {{user.lasttname}}</td>
              <td class="text-left">{{user.email}}</td>
              <td class="text-left">{{user.phone}}</td>
              <td class="text-left">{{user.sub_role}}</td>
              <td class="text-left">{{user.created_at}}</td>
              <td class="text-right">
              	<a ng-click="onUpdateMember(user)" 
              	  href="javascript:void(0)" data-toggle="tooltip" title="Edit" 
              		class="btn btn-primary" data-original-title="Edit">
              		<i class="fa fa-pencil"></i>
              	</a>

              	<button type="button" data-toggle="tooltip" title="Delete" 
              					class="btn btn-danger" ng-click="onDeleteMember(user)" 
              					data-original-title="Delete">
              			<i class="fa fa-trash-o"></i>
              	</button>

              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
	    <!-- #Candidates -->

		</div>
	</div>

</div>